.DS_Store
gstreamer-1.12.0/gst/.deps
gstreamer-1.12.0/gst/.libs
gstreamer-1.12.0/libs/gst/base/.deps
gstreamer-1.12.0/libs/gst/base/.libs
gstreamer-1.12.0/libs/gst/check/.libs
gstreamer-1.12.0/libs/gst/check/libcheck/.deps
gstreamer-1.12.0/libs/gst/check/libcheck/.libs
gstreamer-1.12.0/libs/gst/net/.deps
gstreamer-1.12.0/libs/gst/net/.libs
gstreamer-1.12.0/plugins/elements/.libs
gstreamer-1.12.0/plugins/tracers/.libs
gstreamer-1.12.0/tests/benchmarks/.libs
gstreamer-1.12.0/tests/check/libs/.deps
gstreamer-1.12.0/tests/examples/controller/.deps
gstreamer-1.12.0/tests/examples/adapter/.libs
gstreamer-1.12.0/tests/examples/adapter/.deps
*.Po
lib/gstreamer/share/gtk-doc/html
lib/gstreamer/share/man
*.lo
*.Plo
*.o
